
@import "./../scss/var.scss";
@import "element-plus/theme-chalk/src/index.scss";

$el-sub-menu__title_hover_bg:hsla(1, 76%, 25%, 0.522);
$breaum-height:50px;
$router-list-height:50px;
$breaum-bg:auto;
$router-list-bg:auto;

.dark {
  .el-aside {
    background-color:inherit;
  }
  
  .el-menu {
    background-color:inherit;
  }
}

  .el-aside {
  background-color:#4d1616f7;
}

.el-menu {
  background-color:#450b0bc5;
}

.el-menu-item,.el-sub-menu {
  margin: 0 auto;
  border-radius: 5px;
  span,.el-icon {
     color: #f1e3e3c9 !important;
  }
}

.el-menu-item.is-active,.el-sub-menu__title.el-active {
  span,.el-icon {
    color:#fff !important;;
 }
}

.el-menu-item.is-active {
  .el-icon {
    color:#fff !important;
  }
  .icons {
    fill: #fff;
  }
}

.el-sub-menu__title:hover,.el-menu-item:hover,.el-sub-menu__title:hover,.el-menu-item.is-active,.el-sub-menu__title.el-active {
  background: $el-sub-menu__title_hover_bg;
}

.breaum {
  display: flex;
  align-items: center;
  height:$breaum-height;
  background:$breaum-bg;
  padding-left: 20px;
}

.route-list{
  height:$router-list-height;
  background-color: $router-list-bg;
}

.el-main.main {
  padding-top: 0px;
}

.route-list {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  align-items: center;
}

.header .el-dialog__header  {
  text-align: left;
}

.box-card {
  width: 50%;
}

.icons {
    fill:#f1e3e3c9;
    margin-right: 5px;
}

.icons + span{

  margin-left: 10px;
}

.el-main {
  padding: 0px;
}
.page-header {
  padding: 10px 0 10px 0;
  background-color: #fff;
}
.dark {
  .page-header {
    background-color: inherit;
  }
}

 .animate__fadeOut {
  display: none;
}
