// 引用指定的样式文件并传递参数

@use "./../scss/var.scss";


// 替代@import 的使用引入一个外部样式表， 命名空间为全局
@use "element-plus/theme-chalk/src/index.scss" as *;

// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': green,
//     ),
//   ),
// );

$el-sub-menu__title_hover_bg:rgba(0, 0, 0, 0.923);

$breaum-height:50px;
$router-list-height:50px;

$breaum-bg:auto;
$router-list-bg:auto;

.el-aside {
  background-color:rgba(0, 1, 1, 0.778);
}

.el-menu {
  background-color:rgba(0, 1, 1, 0.296);
}



.el-menu-item,.el-sub-menu {
  span,.el-icon {
     color: #bdbdc0 !important;
  }
}

.el-menu-item.is-active,.el-sub-menu__title.el-active {
  span,.el-icon {
    color:#fff !important;;
 }
}

.el-menu-item.is-active {
  .el-icon {
    color:#fff !important;
  }
  .icons {
    fill: #fff;
  }
}

.el-sub-menu__title:hover,.el-menu-item:hover,.el-sub-menu__title:hover,.el-menu-item.is-active,.el-sub-menu__title.el-active {
  background: $el-sub-menu__title_hover_bg;
}

.breaum {
  display: flex;
  align-items: center;
  height:$breaum-height;
  background:$breaum-bg;
  padding-left: 20px;
}

.route-list{
  height:$router-list-height;
  background-color: $router-list-bg;
}

.el-main.main {
  padding-top: 0px;
}

.route-list {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  align-items: center;
}

.header .el-dialog__header  {
  text-align: left;
}

.box-card {
  width: 50%;
}

.icons {
    fill:#bdbdc0;
    margin-right: 5px;
}

.icons + span{

  margin-left: 10px;
}

.el-main {
  padding: 0px;
}